.footerDiv ul {
  list-style-type: none;
  margin-right: 87%;
  padding: 15px;
  overflow: hidden;
}

.footerDiv li {
  float: left;
  color: black;
  padding: 10px;

  transition: 1s;
}

.footerDiv li:hover {
  color: white;
}

.footerDiv h3 {
  color: white;
  margin-right: 85%;
  border-bottom: solid 2px white;
  width: 6%;
  margin-left: 3.5%;
}

.footerDiv {
  border-top: solid 2px black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  background-color: gray;
}
