.row-poster{
    object-fit: contain;
    width: 100%;
    max-height: 200px;
    margin: 1.5px;
    border-radius: 2px;
    box-shadow: 5px 5px black;
}

.row-poster-home{
    object-fit: contain;
    width: 100%;
    max-height: 600px;
    margin: 1.5px;
    border-radius: 2px;
    box-shadow: 5px 5px black;
}

.row-posters{
    display: flex;
}

.row{
    margin-top: 100px;
}

h2{
    font-family: Impact, fantasy;
    margin-left: 15px;
}

.home-Container{
    margin-top: 100px;
}