.home{
    min-height: 100vh;
    display: grid;
    place-items: left;
    margin-top: 50px;
    margin-bottom: 150px;
}


.slider{
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: left;
    overflow: hidden;
}

.slide-track{
    display: flex;
    width: 250px;
    animation: scroll 10s linear infinite;
}
@keyframes scroll{
    0%{
        transform: translateX(-10vw);
    }
    25%{
        transform: translateX(50vw);

    }
    50%{
        transform: translateX(100vw);
    }
    75%{
        transform: translateX(50vw);

    }
   
    100%{
        transform: translateX(-10vw);
    }
}

.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.img-slide{
    width: 250px;
    transition: transform 1s;
}

.img-slide:hover{
    transform: translateZ(20px);
}

.slider::before,
.slider::after{
    background: linear-gradient(to right,rgba(255,255,255,1) 0%,
    rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(100deg);
}

