.topnav {
  overflow: hidden;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  border-radius: 70px;
  border: solid 2px white;
}

.topnav li.active {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
  list-style-type: none;
  transition: 2s;
}

a {
  color: white;
  font-size: 23px;
  transition: 2s;
  text-decoration: none;
}
a:hover {
  color: black;
}
