button{
    font-size: 15px;
    border-bottom: solid 1px white;
    border-radius: 50px;
   
    
}

.card{
    border-top: solid 1px white;
  
    background-color: black;
    color: white;
    transition: 2s;
    margin: 20px;
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .card img{
      width: 250px;
      transition: 2s;
  }
  .card img:hover{
      opacity: 0.5;

  }


 

  h3{
      transition: 2s;
  }
  h3:hover{
      color: gray;
  }

  h4{
      transition: 2s;
  }

  h4:hover{
      color: gray;
  }

 

  
  