.movie-header{
    width: 97%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1.5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.movie-header-title{
    color: white;
    font-size: 25px;
}


.movie-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: black;
    width: 97%;
    height: 650px;
    margin-left: 1.5%;

}

.movie-img-container{
    width: 100%;

}
.movie-img{
    width: 300px;
}

.movie-details{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

body{
    font-family: Optima, sans-serif;
}

a{
    text-decoration: none;
    color: grey;
}

.manage-list{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manage-list button{
    font-size: 20px;
    width: 105px;
    padding: 5px;
    background: black;
    color: white;
    border-radius: 9px;
    margin: 10px;
}